body {
  background-color: hsl(233, 47%, 7%);
}

section {
  background-color: hsl(244, 38%, 16%);
  /* background-color: white; */
  color: white;
}

.accent {
  background-color: hsl(277, 64%, 61%);
}

span {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

#inter {
  font-family: "Inter", sans-serif;
}

#lexend {
  font-family: "Lexend Deca", sans-serif;
}
